:root {
  background: rgb(177, 196, 193);
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
}

.bill {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.total {
  background: #05464D;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  background: #05464D;
  color: white;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  width: 70px;
  height: 30px;
  margin: 5px;
}

.input {
  border-radius: 2px;
  border: none;
  height: 25px;
  background: rgb(235, 231, 231);
}